@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.image{
    height: max-content;
    width: max-content;
    z-index: 4;
	transition: transform 1s; /*Note this!*/
    
}
.Border{
    border:2px solid white;
	border-radius: 5px;
    padding:17px;
    width:max-content;
    margin-left:35px;
    margin-top:-65px;
	z-index:1 ;
}

.p3{
    height:300px;
    width:300px;
	border-radius: 10px;

}

.image:hover{
    transform: scale(1.07);
	cursor:pointer;
}
.up{
    height:100px;
    width:100px;
    background-color:transparent;
	border: 15px solid aquamarine;
	border-radius: 4px;
	z-index: 3;
	transition: all 0.2s;
   
}

.up:hover {
	border: 8px solid white;
}
.down:hover {
	border: 8px solid white;
}

.down{
    height:100px;
    width:100px;
    background-color:transparent;
	border: 15px solid aquamarine;
	border-radius: 4px;
    margin-top:-65px;
    margin-right:-35px;
    float:right;
    z-index: 1;
	transition: all 0.2s;
}

@media only screen and (max-width: 768px) {
    .p3 {
        max-width: 256px;
		max-height: 256px;
    }
	.image:hover{
		transform: none;
		cursor:pointer;
	}

}

.Card {
	backdrop-filter: blur(50px);
	background-color: hsla(0,0%,100%,.1);
	border-left: 1px solid hsla(0,0%,100%,.5);
	border-radius: 15px;
	border-top: 1px solid hsla(0,0%,100%,.5);
	box-shadow: 20px 20px 50px rgba(0,0,0,.5);
	width: 300px;
	height: 300px;
  }


body{
    background: #152238;
  overflow-x: hidden;
}

.reg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close:focus{
	box-shadow: none;
}

.head {
	color: white;
	text-align: center;
	position:relative;
	width: 100%;
	z-index: 8;
	font-family: 'IBM Plex Sans Condensed';
	font-size: 10vw;
	font-weight: 900;
    padding-top: 5rem;
  }
.Title {
    text-align: center;
	width: 100%;
	z-index: 8;
	font-family: 'IBM Plex Sans Condensed';
	font-size: 50px;
	font-weight: 900;
	mix-blend-mode: difference;	
	color: white;
    letter-spacing: 15px;
    word-wrap: break-word;
  }


  @keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 30;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 12s linear infinite;
}




.background li:nth-child(0) {
    left: 52%;
    width: 191px;
    height: 191px;
    bottom: -191px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 55%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 42%;
    width: 171px;
    height: 171px;
    bottom: -171px;
    animation-delay: 2s;
}
.background li:nth-child(3) {
    left: 73%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 9s;
}
.background li:nth-child(4) {
    left: 86%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 7s;
}
.background li:nth-child(5) {
    left: 19%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 6s;
}
.background li:nth-child(6) {
    left: 82%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 4s;
}
.background li:nth-child(7) {
    left: 48%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 15s;
}
.background li:nth-child(8) {
    left: 4%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 3s;
}
.background li:nth-child(9) {
    left: 3%;
    width: 149px;
    height: 149px;
    bottom: -149px;
    animation-delay: 10s;
}






/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Fjalla+One|Poppins:300,400,500,600,700,900&subset=latin-ext');



/* HTML TAGS */
a{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
img{ max-width: 100%;}
strong{ font-weight: 700;}
b{font-weight: 700;}



/* CUSTOM TAGS */
.pull-left{ float: left;}
.pull-right{ float: right;}
.overflow-hidden{overflow: hidden;}
.no-margin{margin: 0 !important;}



/* SECTIONS */
main{ width: 100%;position: relative; }
section{position: relative;}
aside{position: relative;}
footer{position: relative;}


/* ODOMETER */
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-car .odometer-digit{ padding:0;}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-car .odometer-digit .odometer-digit-inner{ left:0;}




/* EQUALIZER */
.equalizer { width: 18px; height: 20px; cursor: pointer; position: relative;}
.equalizer span { background: #fff; width: 3px; height: 0px; bottom: 0; left: 0%; display: block; position: absolute; transition: height 0.2s linear;}
.equalizer span:nth-child(1) { margin-left: 5px;}
.equalizer span:nth-child(2) { margin-left: 10px;}
.equalizer span:nth-child(4) { margin-left: 15px;}
.equalizer span:nth-child(5) {margin-left: 20px;}
.equalizer.paused span { height: 3px !important;}


/* PRELOADER */
.preloader{ width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 99; background:#f50c1a; }
.preloader{-webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transform:all 0.4s ease; transition: all 0.4s ease;  }
.preloader *{-webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -ms-transform:all 0.4s ease; transition: all 0.4s ease;} 
.preloader img{ width: 80px; height: 80px; position: absolute; left: 50%; top:50%; margin-left: -40px; margin-top: -40px; z-index: 4; border-radius: 50%; padding: 10px; background: #fff;}




/* PAGE LOADED */
.page-loaded .preloader{ top: -100%; transition-delay: 0.60s;}


/* TEXT ROTATER*/
.text-rotater{ width: 100%; float: left; height: 20px; position: absolute; left: 0; top: 50%; margin-top: 60px; font-size: 11px; font-weight: 600; color: #fff; text-transform:uppercase;}
.text-rotater li{ width: 100%; position: absolute; left: 0; top: 0; text-align: center; opacity: 0; animation: play 4.5s infinite; }
.text-rotater li:nth-child(2) { animation-delay: 1.5s; }
.text-rotater li:nth-child(3) { animation-delay: 3s; }


